* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.solid-frame {
  display: block;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.container {
  position: relative;
  width: 667px;
  height: 375px;
  margin: 0 auto;
  /* background-image: url("./img/background.png"); */
  background-position: center;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 607px;
  margin: 0 auto;
}

.slot {
  position: relative;
  width: 66px;
  height: 54px;
  margin-top: 35px;
}

.slot:first-child {
  margin-top: 20px;
}

.slot .character {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* TODO: remove */
  background-color: bisque;
}

.slot .hp {
  position: absolute;
  bottom: -18px;
  left: 0px;
  width: 100%;
  height: 15px;
  background-color: #00E436;
}

.slot .scroll {
  position: absolute;
  top: 14px;
  left: 42px;
  width: 20px;
  height: 72px;
  background-size: 100% 100%;
}

.slot .scroll .content {
  position: absolute;
  top: 6px;
  left: 19px;
  height: 60px;
  width: 382px;
  overflow: hidden;
  background-size: 100% 100%;
  transition: width 500ms;
}

.closed .slot .scroll .content {
  width: 300px;
}

.slot .skill-set {
  position: absolute;
  top: 7px;
  right: 20px;
  display: flex;
}

.slot .skill {
  width: 55px;
  height: 45px;
  margin-right: 10px;
  /* TODO: remove */
  background-color: aquamarine;
}

.slot .skill.active {
  margin-right: 30px;
}

.slot .status {
  position: absolute;
  top: 0px;
  display: flex;
}

.player-field .slot .status {
  left: 70px;
  flex-direction: row;
}

.slot .effect {
  width: 22px;
  height: 18px;
  margin-right: 3px;
}

.enemy-field .slot .status {
  right: 67px;
  flex-direction: row-reverse;
}

.ready {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: 80px;
  background-size: 100% 100%;
}

.information {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 560px;
  height: 70px;
  background-size: 100% 100%;
}
