.solid-frame {
  box-sizing: content-box;
  border: 1px solid #000000;
}

.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 560px;
}

.game-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 440px;
  margin: 0 auto;
  background-image: url("https://i.imgur.com/pztYVAL.png");
  background-position: center;
}

.board-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.character-container {
  position: relative;
}

.character-image {
  display: block;
  width: 75px;
  height: 75px;
}

.character-hp {
  width: 75px;
  height: 20px;
  background-color: #00E436;
  margin-top: 4px;
}

.character-skill-set-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.character-skill-container {
  height: 79px;
  padding-top: 11px;
  box-sizing: border-box;
}

.character-scroll {
  overflow: hidden;
}

.character-scroll-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 381px;
  height: 79px;
  background-image: url("https://i.imgur.com/jJh0V2n.png");
}

.character-skill-active {
  width: 54px;
  height: 54px;
  background-color: #5F574F;
  background-image: url("./Four_Symbols_Seal.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}